.title_text 
{
	-fx-font: 24px "Arial";
}

.subtitle_text
{
	-fx-font: 16px "Arial";
}

.large_positive_message_text
{
	-fx-font: 80px "Arial";
	-fx-fill: green;
}

.large_negative_message_text
{
	-fx-font: 80px "Arial";
	-fx-fill: red;
}

.scoreboard_player_username_text
{
	-fx-fill: deeppink;
}